apted==1.0.3
lxml==5.4.0
nltk==3.9.1
openai==1.91.0
opencv_contrib_python==4.10.0.84
opencv_python==4.6.0.66
paddleocr==3.0.2
paddlepaddle-gpu==3.0.0
paddlex==3.0.2
Pillow==11.2.1
protobuf==6.31.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
triton==2.0.0
tabulate==0.9.0
Tools==1.0.2
tqdm==4.65.2
transformers==4.37.2
huggingface-hub==0.33.0
mmcv==2.2.0
numpy==1.26.4